apiVersion: apps/v1
kind: Deployment
metadata:
  name: blizzard-deployment
  labels:
    app: blizzard
spec:
  replicas: 12
  selector:
    matchLabels:
      app: blizzard
  template:
    metadata:
      labels:
        app: blizzard
    spec:
      containers:
      - name: blizzard
        image: shedi/wowaudit:latest
        command: ["/srv/bin/refresh"]
        args: ["blizzard"]

        resources:
          requests:
            cpu: 250m
            memory: 350Mi

          limits:
            cpu: 250m
            memory: 600Mi

      imagePullSecrets:
        - name: regcred
