apiVersion: apps/v1
kind: Deployment
metadata:
  name: raiderio-deployment
  labels:
    app: raiderio
spec:
  replicas: 3
  selector:
    matchLabels:
      app: raiderio
  template:
    metadata:
      labels:
        app: raiderio
    spec:
      containers:
      - name: raiderio
        image: shedi/wowaudit:latest
        command: ["/srv/bin/refresh"]
        args: ["raiderio"]

        resources:
          requests:
            cpu: 100m
            memory: 250Mi

          limits:
            cpu: 150m
            memory: 500Mi

      imagePullSecrets:
        - name: regcred
